@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    height: 100vh;
}

.ql-editor{
    font-size: 1.05rem;
}

/* index.css */

/* Add this CSS to your stylesheet */
.table-auto > .relative > .absolute {
    display: none;
}
.full-width {
    width: 100%;
}
.text-center {
    text-align: center;
}

.post-content p {
    margin-bottom: 0.5rem;
}
  
  .post-content h1 {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: sans-serif;
    margin: 1.5rem 0;
}
  
  .post-content h2 {
    font-size: 1.4rem;
    font-family: sans-serif;
    margin: 1.5rem 0;
}
  
  .post-content a {
    color: rgb(73, 149, 199);
    text-decoration: none;
}
  
  .post-content a:hover {
    text-decoration: underline;
}
  
  .dark .post-content a {
    color: red;
}

.navbar-toggle span {
  display: none;
}



.list-none {
  list-style-type: none;
}

/* Ensures that all list items within Navbar have no list markers */
.navbar-collapse ul, .navbar-collapse li {
  list-style: none;
  margin: 0;
  padding: 0;
}



/*optional*/
/* index.css */

.navbar-collapse ul, .navbar-collapse li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-collapse a {
  text-decoration: none;
}

.navbar-collapse .active-link {
  color: black !important; /* Ensures the active link is black in light mode */
}

.navbar-collapse .inactive-link {
  color: #4B5563; /* Tailwind's gray-700 */
}
