@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    height: 100vh;
}

.ql-editor{
    font-size: 1.05rem;
}

/* index.css */

/* Add this CSS to your stylesheet */
.table-auto > .relative > .absolute {
    display: none;
}
.full-width {
    width: 100%;
}
.text-center {
    text-align: center;
}

